#world {
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('./media/sky.png') no-repeat ;
	background-size: 100%;
}

#homepage {
	display: flex;
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('./media/sky.png') no-repeat ;
	background-size: 100%;

}

#header {
	position: absolute;
	font-family: Sans-serif;
	font-weight: bold;
	font-size: 60px;
	color: white;
	top: 10%;
	right: 8%;
	width: 350px;
	height: 100px;
}

#username_prompt, #game_option_form {
	display: none;
}

.btn {
	position: absolute;
	cursor: pointer;
	background: #079BCF;
	color: white;
	font-size: 50px;
	top: 10%;
	right: 10%;
	width: 300px;
	height: 100px;
	border-radius: 8px;
	border: none;
}

#player_info {
	border-radius: 8px;
	border: none;
	position: absolute;
	font-family: Sans-serif;
	font-weight: bold;
	color: white;
	background: #079BCF;
	padding: 0px 20px 0px 20px;
	font-size: 20px;
	top: 5%;
	left: 2%;
}

#play_game_btn{
	top: 25%;
}

#exit_room_btn{
	top: 25%;
	visibility: hidden;
}

#invite_player_btn{
	top: 40%;
}

#join_room_btn{
	top: 55%;
}

#queue_msg{
	display: flex;
	flex-direction: row;
}

.loader {
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 10px;
	height: 10px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#game_not_found{
	color: red;
}

/* The Modal (background) */
.modal {
	position: absolute; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
	display:flex;
	flex-direction: column;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #6ED0F6;
	border: none;
	width: 50%;
}

#gameover_modal{
	display:none;
}

.Table
{
	display: table;
}
.Title
{
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Heading
{
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.Row
{
	display: table-row;
}
.Cell
{
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
}

.complex_form{
  	font-family: 'Raleway', sans-serif;
    display:flex;
    flex-direction: column;
}

.form_title {
	margin: 10px 30px 20px 30px;
	font-size: 25px;
  	font-family: 'Raleway', sans-serif;
  	text-align: center;
  	color: white;
}

.form_element{
  	border: none;
  	border-radius: 8px;
  	font-size: 20px;
  	margin: 20px 30px 20px 30px;
  	font-family: 'Raleway', sans-serif;
  	height: 35px;
  	opacity: 1;
  	text-indent: 20px;
  	text-align: center;
}

.form_btn {
	margin: 5px 30px 5px 30px;
	background: #079BCF;
  	border: none;
  	border-radius: 8px;
  	color: #fff;
  	cursor: pointer;
  	font-family: 'Raleway', sans-serif;
  	font-size: 25px;
  	height: 35px;
  	overflow: hidden;
}

button:hover {
  background: #007BA5;
}
