#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#e4e0ba, #f7d9aa);
}

#play_game_btn{
	cursor: pointer;
	background: transparent;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	border: none;
}

#play_game_btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#queue_msg{
	display: flex;
	flex-direction: row;
}

.loader {
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 10px;
	height: 10px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#game_not_found{
	color: red;
}